$rotationDegrees: 1.5deg;
$dropShadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
$bodyColor: #f0f0f0;

$variant-colors: (
  'primary': #0058b1,
  'danger': #ff0a00,
  'success': #00a813,
  'warning': #e3c010,
  'dark': black,
);
