@import 'variables';

@mixin gradient-apply($colors...) {
  background: linear-gradient(312deg, $colors);
}

.Gradient {
  @include gradient-apply(rgba(166, 0, 255, 1) 11%, rgba(205, 0, 255, 1) 86%);
}

.Display-Box {
  display: flex;
  max-width: 700px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border: 1px solid rgba(159, 159, 159, 0.36);
  border-radius: 10px;
  padding: 10px;
  background-color: #f4f4f4;
}

.Card {
  border-radius: 15px;
  padding: 20px 30px 20px 30px;
  background-color: white;
  color: black;
  box-shadow: $dropShadow;
}

.Rotated-Container {
  transform: rotate($rotationDegrees);
  padding: 10px;
  margin: 30px;

  // This is used to normalize the rotation from the parent to any child.
  > * {
    transform: rotate(-$rotationDegrees);
  }
}

.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 30px;
  color: white;
  box-shadow: $dropShadow;
}
